body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("/Resource/fondo4.png");
    background-size: cover;
    background-position: center;
    font-family: 'Lobster', cursive; /* Cambio de fuente a Lobster */
}

.container {
    background-color: hsla(300, 70%, 90%, 0.8); /* Rosado claro */
    padding: 40px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 0 10px rgb(128, 0, 128); /* Morado oscuro */
    color: #800080; /* Morado */
}

.card-body {
    color: #800080; /* Morado */
    text-align: center;
}

.card-title {
    color: #800080; /* Morado */
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #800080; /* Morado */
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    font-family: 'Lobster', cursive; /* Cambio de fuente a Lobster */
}

.btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-primary {
    background-color: #800080; /* Morado */
    color: #fff;
}

.btn-primary:hover {
    background-color: #551A8B; /* Morado medio */
}

.btn-secondary {
    background-color: #FF69B4; /* Rosa claro */
    color: #fff;
}

.btn-secondary:hover {
    background-color: #880066; /* Morado oscuro */
}
