<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/Style/style_home.css">

    <title>INICIO</title>
</head>
<body>
    <div class="container">
        <div class="titulo">
            <h1>Bienvenido Administrador</h1>
        </div>
        
        <div class="btn-container">
            <button type="button" class="btn btn-secondary custom-btn" id="btnlogout">Cerrar Sesión</button>
        </div>
    </div>

    <script type="module" src="/Controller/home.js"></script>
</body>
</html>
